:root {
    --primary-colour: #DDE211;
    --error-colour: #B90E68;
    --contra-light: #3E1C9C;
    --contra-dark: #200960;
    --table-hover: #FAFE6B;
    --table-head: #DDE211;
}

@font-face {
    font-family: 'Oxygen';
    src: local('Oxygen Regular'), local('Oxygen-Regular'), url(/font/Oxygen-Regular.ttf);
}

html {
    font-family: 'Oxygen', sans-serif;
    line-height: 1.3;
    hyphens: auto;
    height: 100%;
}

header {
    box-sizing: border-box;
    background-color: var(--primary-colour);
    width: 100%;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    text-align: left;
    font-size: x-large;
}

footer {
    box-sizing: border-box;
    background-color: var(--primary-colour);
    width: 100%;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    hyphens: none;
}

a {
    color: var(--contra-dark);
}
a :visited {
    color: var(--contra-dark);
}

img {
    max-width: 80%;
    max-height: 50vh;
}

textarea {
    width: 75%;
    font-family: 'Oxygen', sans-serif;
}

.widthtextarea {
    width: 75%;
}

.message {
    background-color: darkslategrey;
    color: white;
    font-size: x-large;
    padding-left: 1%;
    padding-right: 1%;
}

.message p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.error {
    background-color: var(--error-colour);
    color: white;
    font-size: x-large;
    padding-left: 1%;
    padding-right: 1%;
}

.error p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.odd {
    background-color: lightgrey;
}

.even {
    background-color: whitesmoke;
}

.metadata {
    font-size: small;
    color: darkslategray;
}

table {
    border-collapse: collapse;
}

td, th, tr {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
}

tr:hover {
    background-color: var(--table-hover);
}

th {
  text-align: left;
  background-color: var(--table-head);
}

.th-cell {
  text-align: left;
  background-color: var(--table-head);
}

pre {
    white-space: pre-wrap;
}

.centre {
    text-align: center;
}

.announcement-display {
    white-space: pre-wrap;
}